<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>TODO List</title>
</head>
<body>
   <!--<h1>TODO List</h1>
    <p th:text="${message}"></p> 
   
  	<span th:each="task : ${tasks}">
   		<p th:text="${task.description}"></p>
	</span>
	
	<form action="#" th:action="@{/save}" th:object="${task}" method="post">
	    <label for=description>Description</label>
	    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    	<input type="submit" value="Adicionar">   
	</form>-->
</body>
</html>